.form-wave {
  align-items: center;
  background-color: steelblue;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Muli, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-container {
  background-color: rgb(0 0 0 / 40%);
  border-radius: 5px;
  padding: 20px 40px;
}

.form-container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.form-container a {
  color: lightblue;
}

.form-btn {
  background: lightblue;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  width: 100%;
}

.form-btn:focus {
  border-bottom-color: lightblue;
  outline: 0;
}

.form-btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  margin: 20px 0 40px;
  position: relative;
  width: 50vw;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 15px 0;
  width: 100%;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}

.form-control label {
  left: 0;
  position: absolute;
  top: 15px;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-height: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

@media only screen and (max-width: 580px) {
  .form-control {
    width: 90vw;
  }
}
