.increment-counter {
  align-items: center;
  background-color: #8e44ad;
  color: #fff;
  display: flex;
  font-family: "Roboto Mono", sans-serif;
  height: 100vh;
  justify-content: space-evenly;
  overflow-x: hidden;
  width: 100vw;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media screen and (max-width: 580px) {
  .increment-counter {
    flex-direction: column;
  }
}
