@import "https://fonts.googleapis.com/css?family=Muli&display=swap";
@import "https://fonts.googleapis.com/css?family=Lato&display=swap";
@import "https://fonts.googleapis.com/css?family=Ubuntu";

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  --left-bg-color: rgb(87 84 236 / 70%);
  --right-bg-color: rgb(43 43 43 / 80%);
  --left-btn-hover-color: rgba(87 84 236 / 100%);
  --right-btn-hover-color: rgba(28 122 28 / 100%);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

.app {
  align-items: center;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  font-family: Muli, sans-serif;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
