@import "https://fonts.googleapis.com/css?family=Muli&display=swap";

* {
  box-sizing: border-box;
}

.app {
  align-items: center;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  font-family: Muli, sans-serif;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

a {
  text-decoration: none;
}
