@import "https://fonts.googleapis.com/css?family=Muli&display=swap";
@import "https://fonts.googleapis.com/css?family=Lato&display=swap";
@import "https://fonts.googleapis.com/css?family=Ubuntu";
@import "https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat:400;600&display=swap";

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  --left-bg-color: rgb(87 84 236 / 70%);
  --right-bg-color: rgb(43 43 43 / 80%);
  --btn-hover-color: rgba(3 3 3 / 50%);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
  --border-color: #144fc6;
  --fill-color: #6ab3f8;
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

.app {
  align-items: center;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  font-family: Muli, sans-serif;
  justify-content: space-between;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

a {
  color: purple;
  text-decoration: none;
}

button {
  cursor: pointer;
}
