.scroll-animation {
  background-color: #efedd6;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  margin: 10px;
}

.box {
  align-items: center;
  background-color: steelblue;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(0 0 0 / 30%);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 2em 0;
  max-width: 80vw;
  transform: translateX(400%);
  transition: transform 0.4s ease;
  width: 400px;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

/* .box h2 {
  font-size: 45px;
} */
